.root {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  padding: 1em;
  display: grid;
  grid-template-columns: 40px auto;
  align-items: center;
}

.span {
  cursor: pointer;
}

.icon {
  height: 32px;
  width: 32px;
}